
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>

  </header>
  <main>
  <div>
      <h1>List Of Users</h1>
      <br>
      <hr>
    
    <% users.forEach(user=>{ %>
      <h2>Name:<%= user.name %></h2>
      <h3>Email:<%= user.email %></h3>
      <h3>Age:<%= user.age %></h3>
      <h3>Phone:<%= user.phone %></h3>
      <h3>Country:<%= user.country %></h3>
      <br>
      <hr>
   <% })  %>
  </div>
</main>
</body>
</html>

